# Load Zephyr board defconfig descriptions.
osource "/workspaces/ZMK-tf2/zmk/app/module/boards/nicekeyboards/nice_nano/Kconfig.defconfig"
osource "/workspaces/ZMK-tf2/zmk/app/boards/nicekeyboards/nice_nano/Kconfig.defconfig"
